.container {
  padding: 20px;
  background-color: #f0f0f0;
}

.title {
  font-size: clamp(3rem, 8vw, 9rem); /* Responsive font sizing */
  color: white; /* This corresponds to text-white */
  margin-bottom: 1.5rem; /* This corresponds to mb-6 */
  line-height: 90%;
  margin-top: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add drop shadow */
  max-width: 100%; /* Full width on mobile */
  
  /* Adjust max-width for larger screens */
  @media (min-width: 1024px) {
    margin-top: 6rem;
    max-width: 50%;
  }
}

.carousel-image {
  width: calc(100% / 3); /* Show 3 images at a time */
  height: auto; /* Maintain aspect ratio */
}

/* Add any additional styles for larger screens if necessary */
@media (min-width: 1024px) {
  .carousel-image {
    width: calc(100% / 3); /* Ensure 3 images are shown on larger screens */
  }
}