@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FeelingPassionate';
  src: url('../../public/fonts/FeelingPassionate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../../public/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GlossAndBloom';
  src: url('../../public/fonts/Gloss_And_Bloom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Set the font for all h1 headings */
h1 {
  font-family: 'FeelingPassionate', cursive; /* Ensure to include a fallback font */
}

h2 {
  font-family: 'GlossAndBloom', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}





